.projects {
    margin: 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-rows: 20rem;
    gap: 1rem;
}

.projects .card {
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
    cursor: default;
    box-shadow: var(--box-shadow);
}

.projects .card img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transition: filter 250ms cubic-bezier(0, 0, 0, 1);
}

.projects .card .card-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    text-align: left;
    transition: opacity 250ms cubic-bezier(0, 0, 0, 1);
    opacity: 0;
    overflow: hidden;
}

.projects .card:hover img {
    filter: blur(3px);
}

.projects .card:hover .card-content {
    opacity: 1;
}
