@font-face {
    font-family: "Creattion Demo";
    src: url(./assets/creattion-demo.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #0e0f13;
    --background-secondary: #090a0c;
    --text-primary: #ffffff;
    --text-secondary: #999999;
    --text-accent: #db4f3d;
    --transition-time: 150ms;
}

body {
    color: var(--text-secondary);
    background: var(--background);
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    overflow-x: hidden;
    min-height: 5000px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-primary);
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 300;
}

.container {
    padding: 0 2rem;
    width: min(80rem, 100%);
    margin: auto;
}

p {
    font-size: 1.5rem;
}

.overlay {
    position: fixed;
    z-index: 20;
    background: #0a0b0e;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: background 800ms;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: none;
    display: flex;
    justify-content: center;
    z-index: 50;
    transition: background var(--transition-time);
}

header.scrolled {
    background: var(--background);
}

header nav {
    display: flex;
    align-items: stretch;
    height: 4rem;
    vertical-align: middle;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: 300;
    height: 100%;
    display: flex;
    align-items: center;
}

nav a:first-child {
    margin-left: 0;
}

nav a:last-child {
    margin-right: 0;
}

.nav-title,
.title {
    padding: 0;
    aspect-ratio: 25 / 8;
    z-index: 40;
}

.nav-title > div,
.title > div {
    width: 100%;
    height: 100%;
    background: url(./assets/signature.png);
    background-size: cover;
    z-index: 40;
}

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: min(50rem, 90%);
}

.nav-title {
    height: 100%;
    /* display: none; */
}

.nav-title > div {
    background-position-y: 100%;
}

.nav-empty {
    flex: 1 0 auto;
}

.banner {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.banner img {
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    left: 0rem;
    height: 100vh;
}

main {
    background: var(--background);
    position: relative;
}

main > div.container {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
}

.text-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    text-align: justify;
    margin: 1rem 0;
}

.esk {
    width: 100%;
    object-fit: cover;
}

.esk-wrapper {
    position: relative;
}

.gradient-1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(var(--background), transparent);
}

.gradient-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(0deg, var(--background), transparent);
}
